body {
    background-color: ;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ;
}



p {

    text-align: center;
    position: relative;
    font-family: helvetica;
    font-size: 5;

}



.logo {
    float: left;
    font-size: 24;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0d3d51;
    color: #fff;

}

.nav-r {
    float: right;
}

.nav {

    background-color: #0d3d51;

}


.intro1 {

    margin-left: 30%;
    margin-top: 80px;
    margin-bottom: 120px;
}

.intro2 {

    margin: 0 auto;
    margin-bottom: 210px;
    grid-column: 3;
}

.louis {
    font-color: #0d3d51;
}


svg {
    fill: none;
    stroke: #0d3d51;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    position: absolute;
    margin-bottom: ;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 110%;
    max-width: 1000px;
    max-height: 255px;

}




.path {
    stroke-dashoffset: 17000;
    stroke-dasharray: 16999;
    padding-top: 200px;
    margin-top: 200px;
}

.body {
    color: blue;

}


body {
    background-color: black;
}



.container-m {
    width: 1px;
    margin-left: 28px;
    margin: 0 auto;



}

.mouse-1 {
    margin-top: 5%;
}

.mouse-wrapper {
    margin: 0 auto;
}

.container-m .mouse {
    width: 28px;
    height: 50px;
    border: 2px solid #0d3d51;

    border-radius: 10px;
}



.container-m .mouse .mouse-wheel {
    overflow: hidden;
    margin-top: 5px;
}

.container-m .mouse .mouse-wheel span {
    display: block;
    margin: 5px auto;
    width: 5px;
    height: 5px;
}

.container-m .mouse .mouse-wheel span.wheel {
    border: 2px solid #0d3d51;
    border-radius: 5px;
    width: 0;
}

.container-m .mouse .mouse-wheel span.arrow {
    border-bottom: 2px solid #0d3d51;
    border-right: 2px solid #0d3d51;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: scrollDown;
    animation: scrollDown;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes scrollDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
    }
    75% {
        opacity: 0;
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
}

@keyframes scrollDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
    }
    75% {
        opacity: 0;
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
    }
}

/*
body background-color: black .container width: 100px height: 100px margin: 0 auto .mouse width: 28px height: 50px border: 2px solid #ecf0f1 margin: 0 auto border-radius: 30px .mouse-wheel overflow: hidden margin-top: 5px span display: block margin: 5px auto width: 5px height: 5px &.wheel border: 2px solid #ecf0f1 border-radius: 5px width: 0 &.arrow border-bottom: 2px solid #ecf0f1 border-right: 2px solid #ecf0f1 transform: rotate(45deg) animation: scrollDown duration: 1.7s iteration-count: infinite timing-function: ease-in-out @keyframes scrollDown 0% opacity: 1 transform: translateY(0) rotate(45deg) 50% opacity: 0 transform: translateY(5px) rotate(45deg) 75% opacity: 0 transform: translateY(0) rotate(45deg) 100% opacity: 1 transform: translateY(0) rotate(45deg) .viewport {

    margin-bottom: 250px;


}
*/

svg {
    padding-right: 15%;
}


.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    height: 700px;
    background-color: ;
    margin-bottom: 90px;
}

.about-me-left {
    grid-column: 3/1;
    grid-row: 1/1;
    /*    border: solid white 3px;*/
    height: 500px;
    padding-left: 50px;
}

.about-me-right {

    grid-column: 9/3;
    grid-row: 1;

    padding-top: 50px;
    /*border: solid 3px black;*/
    height: 500px;
    text-align: left;
    padding-right: 100px;

}

.bio {

    text-align: left;
}


.louis-img {

    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
    border: solid 3px #0d3d51;

}

.bar {
    width: 3px;
    height: 868px;
    background-color: #0d3d51;
    float: right;
    margin-right: 40px;
    opacity: .7;

}



.button1:hover {
    opacity: 1;
    border: solid 3px #13b7a8;

    opacity: 1;
    color: #0d3d51;
    background-color: #f9f9f9;

}


.wrapper-collapse {
    background: #eee;
    width: 70%;
    padding: 2em 2em 2em;
    margin: 0 auto;
    border-radius: 3px;
    /*    box-shadow: 0 0 1em rgb(100, 100, 100);*/
    color: #0d3d51;
    margin-bottom: 7%;
    border: solid 3px #0d3d51;
}

.item {
    border-top: solid 3px #0d3d51;
    margin-top: 1%;
}

.item h2 {
    diaplay: inline;
    margin: ;
}

.item .description {
    clear: both;
    overflow: hidden;
    max-height: 0;
    transition: 0.5s ease;
    color: #0d3d51;
}

.item input[type=checkbox] {
    display: none;
}

.item input[type=checkbox] ~ label {
    display: block;
    float: right;
    width: 100%;
    height: 2em;
    background: #0d3d51;
    color: #fff;
    border-radius: 3px 3px 10px 10px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
    cursor: pointer;
}




.item input[type=checkbox]:checked ~ label {
    background: #0d3d51;
}

.item input[type=checkbox]:checked ~ h2 {
    color: #0d3d51;
}

.item input[type=checkbox]:checked ~ .description {
    max-height: 200em;
    transition: 0.5s ease;

}



.experience {
    text-align: left;
    padding: 10px;
    border-left: solid 3px #0d3d51;
    padding-left: 10px;
    margin-left: ;
    overflow-wrap: break-word;



}



.education-1 {
    grid-column: 2;
    grid-row: 1;
    margin-left: ;
    text-align: left;
    padding: 10px;
    padding-left: 15%;
    background-color: #0d3d51;

}


.experience-1 {
    grid-column: 2;
    grid-row: 1;
    margin-left: ;
    text-align: left;
    padding: 10px;
    padding-left: 15%;
    background-color: #0d3d51;

}

p {
    text-align: left;
}



.wrapper-1 {
    margin-top: 200px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: center;

}

.modal-heading {
    width: 90px;
    border-bottom: solid 3px #0d3d51;
    margin: 0 auto;
    margin-bottom: 10%;


}

.modal-image {

    width: 100%;
    border: solid 5px #0d3d51;
    padding: 5%;
    margin: 2%;
    margin: 0 auto;
}

.row h4 {
    text-align: center;
}

@media screen and (max-width: 767px) {






    .about-me {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
        background-color: ;
        margin-bottom: 90px;
        height: auto;
    }

    .louis-img {

        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 20px;
        border: solid 3px #0d3d51;
        grid-row: 1;

    }

    .wrapper-collapse {
        width: 90%;
    }


    .about-me-left {
        grid-column: 1;



        grid-row: 2;
        /*    border: solid white 3px;*/
        height: 300px;
        padding-left: 50px;
    }

    .about-me-right {

        grid-column: 1;
        grid-row: 3;

        padding-top: 50px;
        /*border: solid 3px black;*/
        height: 500px;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;

    }

    .bio {

        text-align: left;
    }



    .viewport {

        width: 80%;
        display: none;
    }







}








.skills {

    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    width: 100%;

    margin-bottom: 10%;
    height: 800px;
    ;


}

.skills-1 {

    grid-row: 1;
    grid-column: 1;
    width: 33%;

}

.skills-2 {

    grid-row: 1;
    grid-column: 2;
    width: 33%;
}

.skills-3 {

    grid-row: 1;
    grid-column: 3;
    width: 33%;
}





.portfolio {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #0d3d51;
}


.my-work {
    grid-column: 1;
    padding-left: 10%;
    padding-top: 30%;
}

.wrapper {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #0d3d51;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    float: right;
    margin-top: ;
    margin-bottom: 100px;
    grid-column: 2;
}






.g-d {

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    margin-top: ;
    margin-bottom: auto;
    border-radius: 4px;


}

.glasses {

    max-width: 90%;
    object-fit: scale-down;
}

.long {
    float: right;

}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #edf6f9;
    width: 90%;
    height: 90%;
    transition: transform .5s ease, opacity 0.5s;
    opacity: 0;
    border-radius: 1em;
    text-align: center;
}

.overlay p {
    text-align: center;
    margin: 0 auto;
}

.box:hover .overlay {
    opacity: 1;
    transform: translateX(10px) translateY(10px);
}

.box {
    position: relative;
    width: 180px;
    ;
    height: 180px;

    ;
    border-radius: 1em;

}

/*
.box1 {
    align-self:start;
    grid-column: 1;
    grid-row: 1;
    border: 1px solid #333;
    background-color: #ffd25f;



}
*/

.box2 {
    align-self: end;
    grid-column: 2;
    grid-row: 1;
    border: 1px solid #333;
    background-color: #eaedf2;


}

.box3 {
    grid-column: 3;
    grid-row: 1;
    border: 1px solid #333;
    background-color: #80ddff;
    height: 100%;

}

.box4 {
    grid-column: 1;
    grid-row: 2;
    border: 1px solid #333;
    background-color: #4ad5c0;
    height: 100%;
}

.box5 {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #333;
    background-color: #34495e;
}

.box6 {
    grid-column: 2/1;
    grid-row: 3;
    border: 1px solid #333;
    background-color: ;
    width: 208.5%;
    object-fit: contain;
}

.box7 {
    grid-column: 3;
    grid-row: 3;
    border: 1px solid #333;
    background-color: #ffd25f;
}

.box8 {
    grid-column: 3;
    grid-row: 2;
    grid-row: 2;
    border: 1px solid #333;
    background-color: #ff6f57;
    height: 100%;
    width: 100%;
}

.box9 {
    grid-column: 4;
    grid-row: 1;
    border: 1px solid #333;
    background-color: #ffd25f;
    width: 100%;
    object-fit: fill;
}

.box10 {
    grid-column: 1/3;
    grid-row: 3;
    border: 1px solid #333;
    background-color: #34495e;
    width: 300px;
}

@media screen and (max-width: 767px) {

    .portfolio {
        grid-template-columns: 1fr;
    }

    .wrapper {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        list-style: none;
        text-align: center;
        width: 100%;
        grid-row: 2;
        grid-column: 2;
        margin-bottom: 10%;

    }



    .my-work {
        grid-column: 2;
        padding-left: 10%;
        padding-top: 30%;
    }



    .box1 {
        /*align-self:start;*/
        grid-column: 1;
        grid-row: 1;
        border: 1px solid #333;
        background-color: #ffd25f;
        width: 100%;
        height: 100%;


    }

    .box2 {
        /*align-self:end;*/
        grid-column: 2;
        grid-row: 1;
        border: 1px solid #333;
        background-color: #eaedf2;
        width: 100%;
        height: 100%;


    }

    .box3 {
        /*justify-self:end;*/
        grid-column: 1;
        grid-row: 2;
        border: 1px solid #333;
        background-color: #80ddff;
        width: 100%;
        height: 100%;
    }

    .box4 {
        grid-column: 2;
        grid-row: 2;
        border: 1px solid #333;
        background-color: #4ad5c0;
        width: 100%;
        height: 100%;
    }

    .box5 {
        grid-column: 1;
        grid-row: 3;
        border: 1px solid #333;
        background-color: #34495e;
        width: 100%;
        height: 100%;
    }

    .box6 {
        grid-column: 2;
        grid-row: 3;
        border: 1px solid #333;
        background-color: ;
        width: 100%;
        height: 100%;
    }

    .box7 {
        grid-column: 1;
        grid-row: 4;
        border: 1px solid #333;
        background-color: #ffd25f;
        width: 100%;
        height: 100%;
    }

    .box8 {
        grid-column: 2;
        grid-row: 4;
        border: 1px solid #333;
        background-color: #ff6f57;
        width: 100%;
        height: 100%;
    }

    .box9 {
        grid-column: 1;
        grid-row: ;
        border: 1px solid #333;
        background-color: #ffd25f;
        width: 100%;
        height: 100%;
    }



    .skills {

        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        list-style: none;
        text-align: center;
        width: 100%;

        margin-bottom: 10%;
        height: 600px;
        ;


    }

    .skills-1 {

        grid-row: 1;
        grid-column: 1;
        width: 30%;
    }

    .skills-2 {

        grid-row: 2;
        grid-column: 1;
    }

    .skills-3 {

        grid-row: 3;
        grid-column: 1;
    }
    .e-text {

        display: none;

    }

    .ach {
        margin-bottom: 220%;
    }
}


.ach {

    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
*/
    height: 800px;
    background-color: ;
    width: 100%;
    margin-top: 5%;
}

.ach-1 {
    grid-column: 1;
    grid-row: 1;
    padding: 50px;

}

.ach-2 {
    grid-column: 3;
    grid-row: 2;
    padding: 10px;
    background-color: ;
    text-align: right;
}

.ach-3 {
    grid-column: 1;
    grid-row: 3;
    padding: 10px;
    text-align: right;
}

.ach-4 {
    grid-column: 3;
    grid-row: 4;
    padding: 10px;
    background-color: ;
    text-align: right;
}

.ach-5 {
    grid-column: 1;
    grid-row: 5;
    padding: 10px;
    background-color: ;
}

.modal-img {

    width: 100%;
}




.ach-left p {

    text-align: right;
}

.ach-right p {

    text-align: left;

}

.rec {

    background-color: #0d3d51
}

.form {

    height: 300px;
    width: 100%;
    background-color: #0d3d51;
    float: left;

}


.first {
    position: relative;
    padding-left: 80px;
    color: black;
    padding-top: 20px;

}

.last {
    position: relative;
    padding-left: 80px;
    color: black;

}


.company {
    position: relative;
    padding-left: 80px;
    color: black;
    padding-top: 20px;

}


.submit {
    position: relative;
    padding-left: 80px;

}


#contact {
    width: 100%;
    height: 100%;
    margin 0 auto;
    background: #DDD;
}

/*
.container {
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
}
*/

/*
#contact .container form input,
#contact .container form textarea {
    width: 97.4%;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    color: #999;
    letter-spacing: 1px;
    background: #FFF;
    border: 2px solid #FFF;
    margin-bottom: 25px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
*/

/*
#contact .container form input:focus,
#contact .container form textarea:focus {
    border: 2px solid #dd4545;
    color: #999;
}

#contact .container form textarea {
    height: 150px;
}

#contact .container form .submit {
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1px;
    background: #dd4545;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFF;
    border: 2px solid #b43838;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#contact .container form .submit:hover {
    color: #FFF;
    border: 2px solid #dd4545;
    background: #b43838;
    cursor: pointer;
}

#contact .container form .required {
    color: #b43838;
}*/

.cb {
    padding: 10px;
}

.graphics {
    padding-left: 20px;
    padding-right: 20px;
}


#modal-container.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.one.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
